<h1>{{post.content}}</h1>
{{post.imageUrl}}
<h2>Created by: <a href="/users/{{post.user._id}}">{{post.user.username}}</a></h2>
<h2>Created at: {{post.timestamp}}</h2>

<h2>Like Score: {{likeScore}}</h2>
<h2>Likes: <a href="/posts/{{post._id}}/likes">{{likes.length}}</a></h2>
<h2>Dislikes: <a href="/posts/{{post._id}}/dislikes">{{dislikes.length}}</a></h2>
<button id="likeButton" class="like-dislike-button">Like</button>
<button id="dislikeButton" class="like-dislike-button">Dislike</button>

<h2>Comments</h2>

{{#if user}}
<form id="newCommentForm">
    {{!-- https://www.geeksforgeeks.org/html-textareamaxlength-attribute/ --}}
    <textarea name="content" placeholder="Write your comment here..." maxlength="200" required ></textarea>
    <button type="submit">Post</button>
</form>
{{/if}}

{{#each comments}}
<ul>
    <li>
        <a href="/users/{{this.userId}}">{{this.user.username}}</a>
        <br>
        {{this.text}}
        <br>
        {{this.timestamp}}
    </li>
</ul>
{{/each}}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/getPostById.js"></script>