<h1>{{post.content}}</h1>
{{#if post.imageUrl}}
    <img src="{{post.imageUrl}}" alt="Post Image">
{{/if}}
<h2>Created by: <a href="/users/{{post.user._id}}">{{post.user.username}}</a></h2>
<h2>Created at: {{post.timestamp}}</h2>

<h2>Like Score: <span id="likeScore">{{likeScore}}</span></h2>
<h2>Likes: <span id="likesCount"><a href="/posts/{{post._id}}/likes">{{likes.length}}</a></span></h2>
<h2>Dislikes: <span id="dislikesCount"><a href="/posts/{{post._id}}/dislikes">{{dislikes.length}}</a></span></h2>
<button id="likeButton" class="like-dislike-button">Like</button>
<button id="dislikeButton" class="like-dislike-button">Dislike</button>

<h2>Comments</h2>

{{#if user}}
<form id="newCommentForm">
    <textarea name="content" placeholder="Write your comment here..." maxlength="200" required></textarea>
    <button type="submit">Post</button>
</form>
{{/if}}

<ul id="commentsList">
    {{#each comments}}
    <li>
        <a href="/users/{{this.userId}}">{{this.user.username}}</a>
        <br>
        {{this.text}}
        <br>
        {{this.timestamp}}
    </li>
    {{/each}}
</ul>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/getPostById.js"></script>