<h1>Content: {{post.content}}</h1>
{{post.imageUrl}}
<h2>Created by: {{post.user.username}}</h2>
<h2>Created at: {{post.timestamp}}</h2>

<h2>Like Score: {{likeScore}}</h2>
<h2>Likes: <a href="/posts/{{post._id}}/likes">{{likes.length}}</a></h2>
<h2>Dislikes: <a href="/posts/{{post._id}}/dislikes">{{dislikes.length}}</a></h2>

<h2>Comments</h2>

{{#if user}}
<form id="newCommentForm">
    <textarea name="content" placeholder="Write your comment here..." required></textarea>
    <button type="submit">Post</button>
</form>
{{/if}}

{{#each comments}}
<ul>
    <li>
        <a href="/users/{{this.userId}}">{{this.user.username}}</a>
        <br>
        {{this.text}}
        <br>
        {{this.timestamp}}
    </li>
</ul>
{{/each}}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/createComment.js"></script>