<h1>{{user.firstName}} {{user.lastName}}</h1>
<h2>Email: {{user.email}}</h2>
<h2>Followers: {{user.followers.length}}</h2>
<h2>Following: {{user.following.length}}</h2>

<h3>Posts: {{posts.length}}</h3>
{{#each posts}}
    {{!-- <a href="/movie/{{this.imdbID}}"> --}}
<ul>
    <li>
        {{this.content}}
    </li>
</ul>
    {{!-- </a> --}}
{{/each}}

<h3>Comments: {{comments.length}}</h3>
{{#each comments}}
{{!-- <a href="/movie/{{this.imdbID}}"> --}}
<ul>
    <li>
        {{this.text}}
    </li>
</ul>
    {{!-- </a> --}}
{{/each}}