<h1>{{user.firstName}} {{user.lastName}}</h1>
<h2>Email: {{user.email}}</h2>
<h2>Followers: {{user.followers.length}}</h2>
<h2>Following: {{user.following.length}}</h2>

<h3>Posts:</h3>
<h4>{{user.posts}}</h4>

<h3>Comments:</h3>
<h4>{{user.comments}}</h4>