<section class="user-profile">
    <h1>{{user.firstName}} {{user.lastName}}</h1>
    <div class="user-stats">
        <div>
            <strong>Followers:</strong>
            <a href="/users/{{user._id}}/followers">{{user.followers.length}}</a>
        </div>
        <div>
            <strong>Following:</strong>
            <a href="/users/{{user._id}}/following">{{user.following.length}}</a>
        </div>
    </div>
    {{#unless isSelf}}
    <button id="follow-btn" data-user-id="{{user._id}}">
        {{#if isFollowing}}Unfollow{{else}}Follow{{/if}}
    </button>
    {{/unless}}
</section>

<section>
    <h2>Posts ({{posts.length}})</h2>
    {{#if posts.length}}
    {{#each posts}}
    <a href="/posts/{{this._id}}" class="post-link">
        <article class="post">
            <div class="post-header">
                <img class="post-avatar" src="/assets/default.png" alt="avatar">
                <a class="post-user" href="/users/{{../user._id}}">{{../user.username}}</a>
                <span class="post-timestamp">{{timestamp}}</span>
            </div>
            <div class="post-content">
                {{this.content}}
            </div>
            {{#if imageUrl}}
            <div class="post-image">
                <img src="{{imageUrl}}" alt="Post Image">
            </div>
            {{/if}}
        </article>
    </a>
    {{/each}}
    {{else}}
    <p class="empty-msg">No posts yet.</p>
    {{/if}}
</section>

<section>
    <h2>Comments ({{comments.length}})</h2>
    {{#if comments.length}}
    <ul id="commentsList">
        {{#each comments}}
        <li>
            On <a href="/posts/{{this.postId}}">this post</a>:<br>
            {{this.text}}<br>
            <span>{{this.timestamp}}</span>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p class="empty-msg">No comments yet.</p>
    {{/if}}
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/getUserById.js"></script>