<h1>{{user.firstName}} {{user.lastName}}</h1>

<h2>
    Followers: 
    <a href="/users/{{user._id}}/followers">{{user.followers.length}}</a>
</h2>
<h2>
    Following:
    <a href="/users/{{user._id}}/following">{{user.following.length}}</a>
</h2>

<h3>Posts: {{posts.length}}</h3>
{{#each posts}}
<a href="/posts/{{this._id}}">
    <ul>
        <li>
            {{this.content}}
        </li>
    </ul>
</a>
{{/each}}

<h3>Comments: {{comments.length}}</h3>
{{#each comments}}
<a href="/posts/{{this.postId}}">
    <ul>
        <li>
            {{this.text}}
            <br>
            {{this.timestamp}}
        </li>
    </ul>
</a> 
{{/each}}