<h1>{{title}}</h1>

{{#if user}}
<form id="newPostForm" enctype="multipart/form-data">
    <textarea name="content" placeholder="Write your post here..." maxlength="200" required></textarea>
    <textarea name="imageUrl" placeholder="Attach an image url" maxlength="200"></textarea>

    <div class="submit-post">
        <button type="submit">Post</button>
    </div>
</form>
{{/if}}

{{#each posts}}
    <article class="post">
        <div class="post-header">
            <img class="post-avatar" src="/assets/default.png" alt="avatar">
            <a class="post-user" href="/users/{{user._id}}">{{user.username}}</a>
            <span class="post-timestamp">{{timestamp}}</span>
        </div>
        <a href="/posts/{{_id}}" class="post-link">
            <div class="post-content">
                {{content}}
            </div>
            {{#if imageUrl}}
            <div class="post-image">
                <img src="{{imageUrl}}" alt="Post Image">
            </div>
            {{/if}}
        </a>
    </article>
{{/each}}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="js/createPost.js"></script>