<h1>{{title}}</h1>

{{#if user}}
<form id="newPostForm">
    <textarea name="content" placeholder="Write your post here..." maxlength="200" required></textarea>
    <button type="submit">Post</button>
</form>
{{/if}}

{{#each posts}}
<article class="post">
    <div class="post-header">
        <img class="post-avatar" src="/assets/default.png" alt="avatar">
        <a class="post-user" href="/users/{{user._id}}">{{user.username}}</a>
        <span class="post-timestamp">{{timestamp}}</span>
    </div>
    <div class="post-content">
        {{content}}
    </div>
</article>
{{/each}}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="js/createPost.js"></script>